html {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    background-color: #343541;
}

.welcome-message {
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: #677bc4;
    /* Discord color pallet link background on hover */
}



.parallax-section {
    background-color: #232428;
}

.parallax-section h1 {
    color: #7289da;
}

.title-default {
    color: #7289da;
}


.content {
    text-align: center;
    color: white;
}

.content h1 {
    margin: 0;
}

.two-column-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.column {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.column img {
    max-width: 100%;
    height: auto;
}

.column p {
    color: white;
}

.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #232428;
}

.premium {
    background-color: #343541;
}

.new-section .column {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.new-section img {
    max-width: 100%;
    height: auto;
}

.three-steps-section {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

.steps-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.image {
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 10px;
    background-color: #ecf0f1;
}

.step {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.column {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.column img {
    max-width: 100%;
    height: auto;
}

.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.new-section h1 {
    color: #7289da;

}

.new-section .column {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.new-section img {
    max-width: 100%;
    height: auto;
}

.new-section p {
    color: white;
}

.hwoks {
    display: flex;
    background-color: #232428;
}

@media only screen and (max-width: 600px) {
    .hwoks {
        flex-direction: column;
    }

    .step {
        flex-direction: column;
    }

    .two-column-section {
        flex-direction: column;
    }
}